@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --bg: #fff8eb;
  --primary: #121212;
  --green: #d4e86e;
  --pink: #ff8bd6;
  --yellow: #f6c74d;
  --orange: #ea6e38;
  --blue: #3266f6;
  --indigo: #b49df8;

}

html {
  font-family: "DM Sans", sans-serif;
  background: var(--bg);
  color: var(--primary);
  background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px),
    linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
  background-size: 40px 40px;
  background-position-y: 36%;
  scroll-behavior: smooth;

}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 2.05rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;

}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Unbounded", sans-serif;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  scroll-margin-top: 40px;
}

section#about {
  scroll-margin-top: 60px !important;
}



.shadow {
  border: 2px solid var(--primary);
  box-shadow: 0.4rem 0.4rem var(--primary);
}

.button{
  border: 2px solid var(--primary);
    box-shadow: 0.1rem 0.1rem var(--primary);
}
.button:hover{
  box-shadow: 0.3rem 0.3rem var(--primary);
  transition: all;
  transition-duration: 200ms;
  transform: translate(-3px);
}