---
import TitleSection from './TitleSection.astro';
---

<section
  id='about'
  class='flex flex-col mt-[270px] gap-6 justify-center items-center mb-10 lg:mt-24'
>
  <TitleSection>Sobre mí</TitleSection>

  <div
    class='bg-violet w-[320px] text-left lg:w-[800px] mx-auto px-2 lg:px-4 py-10 shadow border-2 border-black relative mt-4'
  >
    <img
      src='./smile-sticker.png'
      class='w-20 absolute right-[120px] lg:right-[360px] -top-10 rotate-animation'
      alt=''
    />
    <p class='mb-4 lg:text-pretty mt-2'>
      Después de años en el mundo del diseño, descubrí mi pasión por la
      programación, lo que me permite crear interfaces combinando mi experiencia
      en el diseño con mi entusiasmo por el desarrollo.
    </p>

    <p class='mb-4 lg:text-pretty'>
      Mi objetivo es desarrollar proyectos que no solo sean visualmente
      atractivos, sino también funcionales y centrados en la usabilidad, un
      aspecto que también me apasiona.
    </p>

    <p class='lg:text-pretty'>
      Además, disfruto enfrentándome a nuevos retos y explorando las últimas
      tecnologías y tendencias en diseño para mantenerme siempre actualizada.
    </p>
  </div>
</section>
<style>
  .shadow {
    box-shadow: 0.4rem 0.4rem var(--primary);
  }

  .rotate-animation {
    animation: rotation 1s infinite alternate;
  }

  @keyframes rotation {
    from {
      transform: rotate(-40deg);
    }
    to {
      transform: rotate(20deg);
    }
  }
</style>
