---
import AstroIcon from '../assets/icons/AstroIcon.astro';
---

<footer
  class='w-full bg-primary p-4 text-bg mx-auto flex text-center justify-center items-center mt-28'
>
  <p class='flex gap-2'>Hecho por Miriam Sobrino con <AstroIcon /></p>
</footer>
