---
import CardProject from './CardProject.astro';
import TitleSection from './TitleSection.astro';
---

<section
  id='projects'
  class='flex flex-col h-96 mt-60 gap-6 w-full justify-center lg:-mt-6 items-center mx-auto'
>
  <TitleSection class='mt-20'>Proyectos</TitleSection>
  <div class='flex-col flex gap-10 lg:flex-row'>
    <CardProject />
  </div>
</section>
