---
const TECHNOLOGIES = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Node.js',
  'Tailwind CSS',
  'MongoDB',
  'Firebase',
  'Git',
];
---

<div
  class='w-full overflow-x-hidden bg-primary text-nowrap text-bg py-2 relative rotate-1'
>
  <div class='flex gap-10 scroll text-2xl'>
    {TECHNOLOGIES.map((tech) => <span>{tech}</span>)}
  </div>
</div>

<style>
  .scroll {
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-80%);
    }
  }
</style>
