---
const TECHNOLOGIES = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Node.js',
  'Tailwind CSS',
  'MongoDB',
  'Firebase',
  'Git',
];
---

<div
  class='w-full overflow-x-hidden bg-primary text-nowrap flex text-bg py-2 relative'
>
  <div class='flex gap-10 scroll text-2xl min-w-max lg:w-full'>
    {TECHNOLOGIES.map((tech) => <span>{tech}</span>)}
  </div>
</div>

<style>
  .scroll {
    display: flex;
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 768px) {
    .scroll {
      animation: scroll 20s linear infinite;
      animation-delay: -7s; /* Ajusta este valor para móviles */
    }

    .text-2xl {
      font-size: 1.25rem; /* Ajusta el tamaño del texto si es necesario */
    }
  }
</style>
