.shadow-toaster {
    border: 2px solid var(--primary);
    box-shadow: 0.1rem 0.1rem var(--primary);
  }
  .shadow-toaster:hover {
    box-shadow: 0.3rem 0.3rem var(--primary);
    transition: all;
    transition-duration: 150ms;
    transform: translate(-3px);
  }